.story {
    height: 400px;
    text-align: justify;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 250px;
    padding-right: 250px;
    h1 { 
        text-align: center;
        padding-bottom: 40px;
        text-transform: uppercase;
    }
}
