.event {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px;
    padding-bottom: 50px;
    .flyer {
        width: 300px;
        height: 380px;
        background: #e6e6e6;
        border: none;
        //padding-right: 10%;
    }
    .body {
        text-align: left;
        h1{
            font-size: 18px;
        }
        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            grid-column-gap: 5%;
            button {
                width: 100%;
                height: 50px;            
                font-size: 14px;
                color: #fff;
                background: #333333;
                text-transform: uppercase;
                border: none;
                border-radius: 0;
                //margin: 0 5px;
            }
        }
    }
}
