.header {
    //background: url('../../assets/background.jpg') no-repeat center ;
    //background: url('../../assets/background.jpg') no-repeat center fixed;
    background: url('../../assets/waiting-crop.jpg') center no-repeat #ffb393;
    background-size: cover;
    height: 50%;
    text-align: center;
    box-sizing: border-box;
    //position: relative;
    img {
        //position: absolute;
        margin-top: 5%;
        max-width: 400px;
    }
}
