.gallery {
    background-image: url('../../assets/collage.jpg');
    background-position: center;
    background-size: cover;
    height: 586px;
    //display: flex;
    background-color: #e6e6e6;
    rect {
        //background: url('../../assets/waiting.jpg');
        //height: 100%;
        &.trapizoid {
            background: red;
            clip-path: polygon(0 0, 58% 0, 37% 100%, 0% 100%);
        }
        &.middle{
            background: blue;
            clip-path: polygon(58% 0, 70% 40%, 37% 100% );
        }
        &.bottom{
            background: green;
            clip-path: polygon(70% 40%, 100% 100%, 37% 100%);
        }
        &.right{
            background: yellow;
            clip-path: polygon(58% 0, 100% 0, 100% 100%);
        }
    }
}
